<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="vData">
        <button v-on:click="add">add</button>
        <ul>
                <li v-for="(item,i) in ingredients">{{item}}---{{i}}</li>
         </ul>
       <template v-for="(item,i) in ingredients">
           <h1 v-html="item"></h1>
           <p>{{i}}</p>
       </template>
    </div>
    
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            vData:"",   
            ingredients:["<strong>meat</strong>","fruit","cookies","Hello"]        
        },
       methods:{
           add:function(){
               this.ingredients.push(this.vData);
               this.vData=""
           }
       }
    
    })

</script>