<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    
    <div id="app">
 
    </div>
</body>
</html>
<script>
    //创建组件
    var Son={
        template:`<div>
            接受到父组件的数据是:{{title}}
                <h1 v-if="xx">1</h1>
                <h1 v-show="xx">2</h1>
                <h1>3</h1>
                <h1>4</h1>
                <ul>
                    <li v-for="item in ['张三','李四']">{{item}}</li>
                </ul>
                <button v-on:click="changexxx">改变显示</button>
                <hr>
                单项数据流(vue->html):<input type="text" v-bind:value="text"/><br>
                双向数据流(vue->html->vue):<input type="text" v-model="text"/>

                <h1>看这里的</h1>
                {{text}}
            </div>`,
            data:function(){
                return{
                    xx:true,
                    text:'hello',

                  
                }
            },
            methods:{
                changexxx:function(){
                    this.xx=!this.xx
                }
            },
            //声明接受参数
            props:['title']
    }

    //声明组件
    var App={
        components :{
            son:Son  
        },
        template:`<div>
            <son title="hello"></son>
            </div>`,
            data:function(){
                return {
                    xxx:'我是xxx数据'
                }
            }
    };

    new Vue({
        el:"#app",
        //声明子组件
        components:{
            app:App
        },
        template:'<app/>'
    })

</script>